@model CAStest.Models.IndividualEntrepreneurViewModels.DetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a asp-action="Index" asp-controller="IndividualEntrepreneur" title="Назад" style="position:relative; top:25px"><img src='~/images/material/back.png' alt="Назад" class='icon2'></a>
<br />

<h2>Индивидуальный предпрениматель</h2>

<div>
    <h4>Детальная информация об индивидуальном предпренимателе</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ФИО
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IndividualEntrepreneur.Fullname)
        </dd>
        <dt>
            ИНН
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IndividualEntrepreneur.Inn)
        </dd>
        <dt>
            Дата рождения
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IndividualEntrepreneur.DateOfBirth)
        </dd>
        <dt>
            Паспортные данные
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IndividualEntrepreneur.PassportData)
        </dd>

        <dt>
            Страна
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IndividualEntrepreneur.Country)
        </dd>
        <dt>
            Физический Адрес
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IndividualEntrepreneur.Address)
        </dd>
        <dt>
            Юридический Адрес
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IndividualEntrepreneur.LegalAddress)
        </dd>
        <dt>
            Компания
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IndividualEntrepreneur.Company)
        </dd>
    </dl>
</div>

<h4>Контакты <a asp-action="Create" asp-controller="Contact" asp-route-userId="@Model.IndividualEntrepreneur.Id"><img src='~/images/material/add.png' alt="Добавить контакт" class='icon1'></a> </h4>

<table class='tableUserList'>
    <tr class='tableUserListTr'>
        <th class='tableUserListTh'>
            Название
        </th>
        <th class='tableUserListTh'>
            Контакт
        </th>
        <th class='tableUserListTh'>
            Управление
        </th>
    </tr>
    <tbody>
        @foreach (var item in Model.Contacts)
        {
            <tr class='tableUserListTr'>
                <td class='tableUserListTd'>
                    @Html.DisplayFor(model => item.ContactType.Name)
                </td>
                <td class='tableUserListTd'>
                    @Html.DisplayFor(model => item.Value)
                </td>
                <td class='tableUserListTd'>
                    <a asp-action="Edit" asp-route-id="@item.Id" title="Изменить"><img src='~/images/material/edit.png' alt="Изменить" class='icon3'></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" title="Удалить"><img src='~/images/material/delete.png' alt="Удалить" class='icon3'></a>
                </td>
            </tr>
        }
</table>

